# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
-   repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: poetry run ruff check
        language: system
        require_serial: true
        types: [python]
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        require_serial: true
        language: system
        types: [python]
        exclude: docs/conf.py
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: .*(\.js|\.graphql|\.json|\.md)$
