* @qctrl/support

.dockerignore @qctrl/devops-engineering
.github/* @qctrl/devops-engineering
app*.yaml @qctrl/devops-engineering
deployment/* @qctrl/devops-engineering
docker* @qctrl/devops-engineering
Docker* @qctrl/devops-engineering
README.rst @qctrl/devops-engineering
setup.py @qctrl/devops-engineering
