[tool.poetry]
name = "qctrl-open-controls"
version = "9.1.8"
description = "Q-CTRL Python Open Controls"
license = "Apache-2.0"
authors = ["Q-CTRL <support@q-ctrl.com>"]
maintainers = ["Q-CTRL <support@q-ctrl.com>"]
readme = "README.md"
homepage = "https://q-ctrl.com"
repository = "https://github.com/qctrl/python-open-controls"
documentation = "https://docs.q-ctrl.com/open-controls/references/qctrl-open-controls/"
keywords = [
    "black opal",
    "boulder opal",
    "fire opal",
    "nisq",
    "open controls",
    "q control",
    "q ctrl",
    "q-control",
    "q-ctrl",
    "qcontrol",
    "qctrl",
    "quantum",
    "quantum algorithms",
    "quantum circuits",
    "quantum coding",
    "quantum coding software",
    "quantum computing",
    "quantum control",
    "quantum control software",
    "quantum control theory",
    "quantum engineering",
    "quantum error correction",
    "quantum firmware",
    "quantum fundamentals",
    "quantum sensing",
    "qubit",
    "qudit"
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Software Development :: Embedded Systems",
    "Topic :: System :: Distributed Computing"
]
packages = [
    { include = "qctrlopencontrols" },
]

[tool.poetry.dependencies]
python = ">=3.7.2,<3.12"
numpy = [
    {version = "^1.21.6", python = ">=3.7,<3.8"},
    {version = "^1.23.0", python = ">=3.8"}
]
toml = "^0.10.2"


[tool.poetry.dev-dependencies]
black = "^22.3.0"
mypy = "^0.991"
pytest = "^7.0"
pylint = "^2.16.1"
sphinx = "^5.0.0"
qctrl-sphinx-theme = "~0.1.2"
isort = "^5.7.0"
pre-commit = "^2.9.3"

[tool.poetry.urls]
GitHub = "https://github.com/qctrl"
Twitter = "https://twitter.com/qctrlHQ"

[tool.black]
exclude = '''
(
     /(
         docs
     )/
)
'''

[tool.isort]
profile = "black"
force_grid_wrap = "2"
known_first_party = "qctrlopencontrols"


[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

#  _______________________________________
# / If you update this file, please run   \
# | `poetry update --lock` to update the  |
# \ file "poetry.lock".                   /
#  ---------------------------------------
#        \   ^__^
#         \  (oo)\_______
#            (__)\       )\/\
#                ||----w |
#                ||     ||
